---
layout: base
title: "Serious[ly] Fun Robot Kits"
excerpt: "We create, share and sell robots, robot kits, and the things you can use to make your own robots."
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">
    
    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
        
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss"></i>
            </a>
        </div>
    </section>
</div>

<div class="container">
    <section class="index">
         <div>
           <h2>Welcome</h2>
           <p>
Our mission is to bridge the gap in robotics education, and to provide resources to the underserved makers of the world who are more than beginners, but less than professionals.<br />
        <ul>
            <li><b>CREATE</b><br />We create & share open-source robotics projects.
            </li><br />
            <li><b>SHOP</b><br />We sell robotics kits, parts & accessories.
            </li><br />
            <li><b>LEARN</b><br />We write up tips & tricks, how-to's, and more on our blog.</li>
        </ul></p><br />
         <h3>>> <a href="/about/" style="color: #263c4c;">Learn more about us</a></h3>
        </div>
        <br />
    </section>
</div>
