.site-nav {
    background:#777;
    height:80px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transition:all 0.35s ease;
    z-index:100;
    
    .caret {
        opacity:0.2;
    }
    
    .brand img {
        height:60px;
        margin-right:10px;
        margin-top:-10px;
        left:0;
        padding-bottom: 5px;
    }
    
    .dropdown {
        display:inline-block;
    }
    
    nav {
        padding:22px 10px;
        float:left;
        height:80px;
        display:table-cell;
    }
    
    #navigation {
        padding-right:10;
        right:0;
        font-family: $fontheadings;
        a {
            &:hover {
                color:#fff;
                text-decoration: none;
                padding-bottom: 1px;
                border-bottom: 4px solid white;
            }
        }
        
        > a, .dropdown-toggle  {
            color:#fff;
            border:0;
            font-weight:600;
            font-size:1.25em;
            display:inline-block;
        }
        
        .dropdown-toggle {
            padding: 6px 0.5em;
            text-align: center;
            
            &:hover {
                background:#eee;
            }
        }
    }
    
    .tagline {
        float:right;
        text-align:right;
        font-size:15px;
        font-weight:600;
        color: #fff;
            padding-top: 30px;
        
        span {
            line-height:0;
            padding-right:20px;
        }
    }
}

body.nav-hidden {
    .site-nav {
        top:-100px;
        transition:all 0.35s ease;
        -webkit-transform: translate3d(0px, 0, 0px);
    }
}

