.product_main {
    float:right;
    width:500px;
    background:#404040;
    padding-top:10px;
    position:relative;
    right:0px;
    padding-right:20px;
    padding-left:20px;
    font-size:1.3em;
    padding-bottom: 0px;
}
.product_img {
    float:left;
    margin-left:0px;
    margin-top:0px;
    padding-top:0px;
    padding-bottom:10px;
}
#product_section {
    margin-left:0px;
    margin-right:0px;
    position:relative;
}
.product_info {
    background:#404040;
    color:#fff;
    width:100%;
    padding: 15px 15px 15px 15px;
    overflow:auto;
}
.product_info_2 {
    background:#404040;
    color:#fff;
    width:100%;
    padding: 15px 15px 15px 15px;
    overflow:auto;
    font-size: 15px.0em;
}
.product_info_heading {
    float:left;
    text-align:left;
    padding-right:20px;
    padding-left:130px;
    valign:middle;
}
.product_details_heading {
    float:left;
    text-align:left;
}
.product_details {
    float:left;
    valign:middle;
    text-align:left;
    padding-left:20px;
}
.product_partno
{
    color: gray;
    font-size: 80%;
}