@media (max-width: 1000px) {
.minicart_wrapper {
   display:none;
}
.minicart_super_simple {
    float:right;
    display: block;
    width:30px;
    margin-right:0px;
    margin-top:0px;
    padding-top:5px;
    padding-right:0px;
    color: #fff;
    a {
        color: #fff;
        font-decoration: none;
    }
}
    .tagline span {
        display:none;
    }
    .index {
        margin:0 2em;
        .post-cap {
            float:left;
            border-radius:62px;
            height:300px;
            width:300px;
            margin-top:0;
            margin-right:30px;
        }
    }
    .container > header, .container > section, .container > footer {
        padding:0;
        margin:.5em 5%;
    }
    h1, h2 {
        font-size: 2.0em;
    }  
    .container > section {
        padding-bottom:.5em;
    }

    article {
        .title {
            margin-top:15px;
        }
    }
    .post-cover {
    height:80px;
    }
}

@media (max-width: 720px) {
    h1, h2 {
    font-size: 1.3em;
    }  
    .post-cap {
        float:left;
        border-radius:62px;
        height:100px;
        width:100px;
        margin-top:0;
        margin-right:30px;
    }
    article {
        padding-top:10px;
        
        .container > header, .container > section, .container > footer {
            padding:0;
            margin:.5em 10%;
        }
        
        .container > footer {
            padding:1em 0;
        }
        
        .full, pre {
            margin:1em 0;
        }
        
        pre {
            padding:1em;
        }
        
        blockquote {
            margin:1em 0;
            
            p {
                font-size:1em;
            }
        }
        
        h1 {
            font-size:1.6em;
        }
        
        h2 {
            font-size:1.3em;
        }
        
        p {
            font-size:0.8em;
        }
    }
    .blog-cover {
        height:200px;

        img {
            height:200px;
            width:auto;
        }
        
        section {
            padding:60px 0 0;
            text-align:center;
            
            a {
                margin:0.5em;
            }
        }
        h1 {
            font-size:1.5em;
        }
        
        h3 {
            font-size:1em;
        }
    }
    
    .site-nav .tagline span {
        display:none;
    }
    
    .site-nav {
        #navigation {
            a {
                font-size:0.9em;
                margin-left:-15px;
            }
            
            .brand {
                display:inline-block;
                margin-left: 0px;
            } 
        }
    }
    
    .site-footer {
        font-size:.75em;
        margin-top:0;
        padding:2em 10%;
        text-align:center;
        
        nav {
            display:block;
            float:none !important;
            padding:1em;
        }
    }
    
    .index {
        padding:0;
        margin:0 5%;
        
        > div {
            margin:0;
        }
        
        img {
            display:none;
        }
    }
    .post-cover {
        height:50px;
    }
    .shire_badge {
        height:95px;
        width:95px;
    }
}
@media (max-width: 600px) {
    #ort {
        display:none;
    }
}
@media (max-width: 500px) {
    .site-nav {
        #navigation {
            a {
                font-size:.55em;
                margin-left:-15px;
            }
            
            .brand {
                display:inline-block;
                margin-left:-5px;
            } 
        }
    }
    #ort {
        display:none;
    }
}