---
layout: base
---
{% if page.cover_image %}
<div class="post-cover" style="background-image:url(/images/{{ page.cover_image }});"><section></section>
</div>
{% endif %}
<article>
    <div class="container">
        <header>
            <h1 class="product_name_h1" style="margin-bottom:0px;">{{ page.product_name }}</h1>
        </header>
        <section>
            <img src="/images/{{ page.product_image }}" class="product_image">
            <p><b>Description:</b><br />{{ page.product_description }}</p>
                        <p><b>Price:</b> <span class="product_price">{{ page.product_price }}</span></p>
                        <!-- ADD TO CART BUTTON -->
            <p>
                <form action="https://nortbotics.foxycart.com/cart" method="post">
                    <input type="hidden" name="name" value='{{ page.product_name }}' />
                    <input type="hidden" name="price" value='{{ page.product_price }}' />
                    <input type="hidden" name="image" value='/images/{{ page.product_thumbnail }}'; />
                    <input type="submit" value="Add To Cart" disabled />
                </form>
                <b><small style="color:white;background: red;">Out of Stock! Sorry!</small></b>
            </p>
                                     <p>
                        <small>
            <b>Product Type:</b> &nbsp; {{ page.product_type }}<br />
            <b>Product Category:</b> &nbsp; <a href='{{ site.products.product_category[page.product_category] }}'>{{ page.product_category }}</a><br />
            <b>Manufacturer:</b> &nbsp; {{ page.manufacturer }}
            </small>
            </p>
            <div style='clear:both'></div>
            {% assign compare_bool = page.price_compare.ebay || page.price_compare.amazon %}
            {%  if compare_bool %}
                <h2>Comparison Shopping<br /><small>affiliate links*</small></h2>
                    <!-- AMAZON -->
                    {% if page.price_compare.amazon %}
                        <iframe class="pull-left" style="width:120px;height:240px;display:inline-block;margin-right:10px;border: 1px solid #000;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//{{ page.price_compare.amazon }}">
                        </iframe>
                    {% endif %}
                    {% if page.price_compare.ebay %}
                        <div class="pull-left" style="border: 1px solid #000;width:510px;height:240px;font-size:80%;margin-top:0px;"><div style="position:relative;color:#fff;border: 1px solid #ccc;"> &nbsp;<img src="/images/rnoe_small.jpg" style="margin-top:0px;padding-top:0px;margin-bottom:0px;padding-bottom:0px;"></div><div id="ebay_widget" style="margin-top:0px;padding-top:5px;"></div></div>
                        <script>
                        $('#ebay_widget').feeds({
                            feeds: {
                                feed: '{{ page.price_compare.ebay }}'
                            }, // Set XML to true
                            entryTemplate: '<a href="<!=link!>" style="color:#000;"><div style="float:right;padding-left:5px;padding-right:5px;width:500px;height:20px;overflow:none;"><b><!=title!></b></div><!=content!></a>',
                            max: 1
                        });
                        //$('#ebay_widget > table > tbody > tr').remove();
                        </script>
                    {% endif %}
                    <div style='clear:both'></div>
                {% endif %}
            {{ content }}
        </section>
        <footer>
        {% assign related_count = site.categories.[page.product_category].size %}
        {% if related_count > 0 %}
            <h2>Related Blogposts</h2>
            {% for post in site.categories.[page.product_category] %}
                {% unless post.draft %}
                <section class="index" style="margin-left:0px;">
                    {% if post.image %}<a href="{{ post.url }}" rel="prefetch"><img src="/images/{{ post.image }}" class="blogpost-cap" data-lightbox="litearm"></a>{% endif %}
                    <div class="blogpost">
                        <h3 class="title black_text"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h3>
                        <div class="meta">
                            Written By <address>{{ post.author.name }}</address> &mdash;
                            <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
                        </div>
                        <p>{{ post.excerpt }}<br />
                        <small><a href="{{ post.url }}" rel="prefetch">Read more...</a></small></p>
                    </div>
                </section>
                {% endunless %}
            {% endfor %}
            {% endif %}
                                <hr>
            {% assign related_projects = site.projects.[page.product_category].size %}
            {{ related_projects }}
            {% if site.projects.size > 0 %}
                <section class="index" style="margin-left:0px;">
                <h2>Related Projects</h2><style>
                .projects {
    border-style: dashed;
    border-width: 1px;
        padding: 15px 15px 15px 15px;
}</style>
              {% for project in site.projects %}
                {% if project.tags contains page.product_category %}
                    {% unless post.draft %}
                    <div class="projects" style="display: inline-block;margin-left: 10px; margin-right: 10px;">
                        <a href="{{ project.url }}" rel="prefetch">
                            <img src="/images/{{ project.image }}" class="blogpost-cap">
                        </a>
                        <div class="blogpost">
                            <h1 class="title"><a href="{{ project.url }}" rel="prefetch">{{ project.title }}</a></h1>
                            <p>{{ project.excerpt }}<br />
                            <small><a href="{{ project.url }}" rel="prefetch">Read more...</a></small></p>
                        </div>
                    </div>
                    {% endunless %}
                {% endif %}
            {% endfor %}
            </section>
            {% endif %}
            <div style="clear:both;"></div>
        </footer>
    </div>
</article>
